@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: inline;
  width: 70%;
  height: 90%;
  object-fit: cover;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.chat-container {
  background-color: white;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 80%;
  max-height: 600px;
  overflow: hidden;
  box-sizing: border-box;
}

.chat-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  max-height: 400px;
  box-sizing: border-box;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
  box-sizing: border-box;
}

.user-message {
  background-color: #9bd300;
  color: white;
  margin-left: auto;
}

.bot-message {
  background-color: #e8eaf6;
  color: #333;
}

.loading {
  text-align: center;
  color: #777;
  font-style: italic;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-field {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.input-field:focus {
  border-color: #9bd300;
}

.send-button {
  background-color: #9bd300;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

.send-button:hover {
  background-color: #9bd300c4;
}
